<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body style="box-sizing: content-box;">
    <main role="main" class="container">
        <h1 style="text-align: center; margin:1em;">Productos</h1>
            <div style="display: flex; justify-content:space-between;">
                    {{#each productos}}
                    <div style="display: flex; flex-direction:column;">
                        <span><img class="mb-4" src="{{this.logo}}" alt="" width="100" height="100"/></span>
                        <h4>{{this.nombre}} ${{this.precio}}</h4>
                        <p>Descripcion:{{this.descripcion}}</p>
                        <p>Stock:{{this.stock}}</p>
                    </div>
                    {{/each}}
            </div>
    </main>
</body>    
</html>


